name: Deploy gh-pages

on:
  push:
    branches: master

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup build
        working-directory: r-package/balnet
        run: |
          # Install R and litedown
          curl -OLs https://eddelbuettel.github.io/r-ci/run.sh
          chmod 0755 run.sh
          ./run.sh bootstrap
          ./run.sh install_all
          R CMD INSTALL .
          Rscript -e "install.packages(c('litedown', 'xfun'), repos = setdiff(c('https://yihui.r-universe.dev', 'https://cloud.r-project.org', getOption('repos')), '@CRAN@'))"

      - name: Build docs
        working-directory: r-package/balnet/site
        run: |
          Rscript -e "litedown::fuse('_footer.Rmd', '.md')" && Rscript -e "litedown::fuse_site()"

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'r-package/balnet/site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
